@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Global */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

header,
nav,
main,
section,
article,
footer {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

main > section,
footer > section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Helpers */

.img-center {
  margin: 0 auto;
}

.col-sm-5th {
  padding: 0 15px 0;
}

.xs-text-center {
  text-align: center;
}

.col-center {
  float: none;
  margin: auto;
}

/* Branding */

.bg-primary {
  background-color: #91268C;
}

.bg-secondary {
  background-color: #61035D;
}

.bg-tertiary {
  background-color: #BF6ABB;
}

.bg-white {
  background-color: #fff;
}

.bg-fade {
  background-color: #EEF3F6;
}

.btn-primary {
  background-color: #91268C;
  color: #fff;
  border: 0;  
}

a.btn {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 15px;
}

a.btn-primary:active:hover,
a.btn-primary:focus:active,
a.btn-primary:active,
a.btn-primary:hover,
a.btn-primary:focus {
  color: #91268C;
  background-color: #f2bbef;
  border: 0;
}

.bg-primary span,
.bg-secondary span,
.bg-primary i,
.bg-secondary i,
.bg-primary h4,
.bg-secondary h4,
.bg-primary h3,
.bg-secondary h3,
.bg-secondary p,
.bg-primary p,
.bg-secondary a,
.bg-primary a {
  color: #fff;
}

p {
  color: #6e7b97;
}

a:hover.color-primary,
a.color-primary,
.color-primary {
  color: #91268C;
}

.color-secondary {
  color: #61035D;
}

.color-tertiary {
  color: #BF6ABB;
}

.color-white {
  color: #fff;
}

/* Header */

header {
  min-height: 75px;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
  border: 0;
  background-color: transparent;
}

.navbar-header {
  min-height: 75px;
  padding: 10px 0 0;
}

.navbar-brand {
  padding: 0;
  height: 55px;
}

.navbar-brand > img {
  height: 100%;
}

.navbar-default .navbar-toggle,
.navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  border-radius: 0;
  width: 30px;
  height: 4px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #f2bbef;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-collapse {
  border-color: transparent;
  border: 0;
  box-shadow: none;
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-default .navbar-nav > li:last-child {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-default .navbar-nav > li:last-child > a.btn-default {
  border-color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-align: center;
}

.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #61035D;
}

/* Hero */

.hero {
  min-height: 350px;
  box-sizing: border-box;
  padding: 0;
}

.bg-hero {
  background-image: url("^media_src_hero.jpg^");
  background-size: cover;
  background-position: top center;
}

.hero div[class^="col-"] {
  display: table;
  width: 100%;
  height: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero .title-wrapper {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.title-wrapper .title-parr {
  max-width: 50%;
}

.about-cards div[class^="col-"]{
  margin-bottom: 15px;
}

.about-cards .card {
  min-height: 270px;
  overflow: hidden;  
}

.about-cards .bg-card-01 {
  background-image: url("^media_src_intro-card-01.png^");
  background-size: cover;
  background-position: top center;
}

.about-cards .bg-card-02 {
  background-image: url("^media_src_intro-card-02.png^");
  background-size: cover;
  background-position: top center;
}

.about-cards .bg-card-03 {
  background-image: url("^media_src_intro-card-03.png^");
  background-size: cover;
  background-position: top center;
}

.about-cards .card-cont { 
  min-height: 270px;
  width: 100%;
  display: table;
  padding: 15px;  
  background-color: transparent;  
  -webkit-transform: translateY(90px);
  -ms-transform: translateY(90px);
  transform: translateY(90px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.about-cards .card-cont p:last-child {
  -webkit-transform: translateY(60px);
  -ms-transform: translateY(60px);
  transform: translateY(60px);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.about-cards .card-cont p,
.about-cards .card-cont a {
  color: #fff;
}

.about-cards .card-cont a i {
  padding-right: 10px;
}

.card.active .card-cont,
.card:focus .card-cont,
.card:hover .card-cont {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  background-color: #61035D;
}

.card.active .card-cont p:last-child,
.card:focus .card-cont p:last-child,
.card:hover .card-cont p:last-child {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* Fixed pin */

.top-jump {
  max-width: 1230px;
  display: block;
  margin: auto;
  padding-right: 15px;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 80px;
}

.top-jump.affix-top {
  position: fixed;  
  opacity: 0;
}

.top-jump.affix {
  position: fixed;  
  opacity: 1;
  transition: opacity 0.6s;
}

.top-jump .top-caret {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  float: right;
  text-align: center;
  background-color: rgba(145, 38, 140, 0.7);
}

.top-jump .top-caret .fa {
  font-size: 30px;  
}

h2.sub-title {
  margin-bottom: 30px;
}

/* Pin up */

img.about-pinup {
  max-width: 60%;
}

/* Prefooter */

.bg-prefooter {
  background-color: #f2bbef;
}

.prefooter .row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.prefooter .row > .col-sm-5th {
  margin-top: 60px;
  margin-bottom: 60px;
}

.prefooter .row > .col-sm-5th:first-child {
  margin-top: 0;  
}

.prefooter .row > .col-sm-5th:last-child {  
  margin-bottom: 0;
}

/* Footer */

footer .footer-logo img {
  margin-bottom: 30px;  
}

footer .footer-logo p {
  line-height: 2;
  color: #BF6ABB;
}

footer h3 {
  font-weight: normal;
  margin-bottom: 30px;
}

footer ul.contact-list li a,
footer ul.contact-list li span,
footer ul.footer-arts li a,
footer ul.footer-links li a {
  color: #BF6ABB;
  line-height: 2;
}

footer ul.footer-arts li {
  margin-bottom: 25px;  
}

footer ul.footer-arts li a span{
  display: block;
}

footer ul.contact-list li span,
footer ul.contact-list li i,
footer ul.contact-list li {
  display: block;  
}

footer ul.contact-list li {
  width: 100%;
  overflow: hidden;
}

footer ul.contact-list li:before,
footer ul.contact-list li::before {
  content: "";
  display: table;
}

footer ul.contact-list li:after,
footer ul.contact-list li::after {
  content: "";  
  clear: both;
}

footer ul.contact-list li span,
footer ul.contact-list li i {
  float: left;
}

footer ul.contact-list li span {
  width: calc(100% - 35px);
}

footer ul.contact-list li i {
  margin-right: 15px;
  line-height: 2em;
}

/* Copyright */

section.copyright p {
  text-align: center;
  font-size: 14px;
}

section.copyright ul.bottom-social {
  text-align: center;
  float: none;
}

section.copyright ul.bottom-social li a {
  font-size: 30px;
}

@media (min-width: 768px) {
  
  /* Helpers */
  
  .col-sm-5th {
    width: 20%;
    padding: 0 15px 0;
    float: left;
  }
  
  .xs-text-center {
    text-align: left;
  }
  
  /* Header */
  
  header {
    min-height: 100px;
  }
  
  /* Navbar */
  
  .navbar-header {
    min-height: 100px;
  }
  
  .navbar-brand {
    height: 80px;
  }
  
  .navbar-default .navbar-nav {
    margin-top: 25px;
  }
  
  .navbar-default .navbar-nav > li {
    margin-right: 10px;
  }
  
  .navbar-default .navbar-nav > li:last-child {
    padding: 0;
    margin: 0;
    margin-right: 15px;
  }
    
  .navbar-default .navbar-nav > li > a {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
  }
  
  /* Hero */
  
  .hero {
    min-height: 500px;
  }
  
  .hero .hero-title {
    font-size: 60px;
    margin-bottom: 30px;
  }
  
  .hero div[class^="col-"] {
    height: 500px;
    padding-top: 0;
  }
  
  .about-cards .card-cont {
    -webkit-transform: translateY(65px);
    -ms-transform: translateY(65px);
    transform: translateY(65px);
  }
  
  h2.sub-title {
    margin-top: 60px;
  }
    
  /* Pin up */
  
  img.about-pinup {
    max-width: 100%;
  }
  
  /* Our Services */
  
  /* Flip cards */
  
  /* Awards */
  
  /* Our Team */
  
  /* News */
  
  /* Prefooter */
  
  .prefooter .row > .col-sm-5th {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* Footer */
  
  footer .footer-logo {    
    margin-top: 20px;    
  }
  
  footer .footer-logo img {
    height: 80px;
    width: auto;
    margin-bottom: 30px;
  }
  
  footer .footer-logo img.img-center {
    margin-left: 0;
  }
  
  footer h3 {
    height: 80px;
    line-height: 80px;
  }
  
  footer ul.contact-list li a{
    word-wrap: break-word;
    word-break: break-all;
  }
  
  /* Copyright */
  
  section.copyright p {
    height: 45px;
    line-height: 45px;
    text-align: left;
    margin: 0;
  }
  
  section.copyright ul.bottom-social {
    text-align: right;
    float: none;
    margin: 0;
  }
  
}